body
{
  background-image: url("https://www.google.be/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjun7u_nPPYAhVCEVAKHb1LCM0QjRwIBw&url=http%3A%2F%2Ftheconversation.com%2Frester-trop-longtemps-assis-nuit-a-votre-cerveau-81929&psig=AOvVaw3nu0DSEAgx4jv_mioJWkQ7&ust=1516973418359341");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

